body {
  font-family: arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    rgb(117, 46, 23) 10%,
    rgb(212, 216, 245) 90%
  );
}

h1 {
  font-size: 45px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 10;
  color: #00175f;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  opacity: 0.8;
}

.meteo {
  border: 2px solid rgba(238, 214, 214, 0.575);
  padding: 20px;
  margin: 10px auto;
  border-radius: 9px;
  max-width: 650px;
  background: linear-gradient(
    103deg,
    rgb(235, 225, 188) 7.2%,
    rgb(232, 188, 234) 57.5%,
    rgb(203, 209, 244) 90.7%
  );
}

.codes {
  display: block;
  margin: 10px 350px;
  padding: auto;
  text-align: center;
  color: black;
  font-size: 15px;
}

.citySearch {
  line-height: 24px;
  margin-bottom: 20px;
}

.citySearch .btn {
  background: #00175f;
  color: white;
  opacity: 0.8;
}
.citySearch .btn:hover {
  background: #e4cacb;
  color: black;
}
.element {
  line-height: 25px;
}

.shift {
  text-align: center;
  line-height: 15px;
  font-size: 13px;
}
.shift-temperature {
  text-align: center;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: underline;
  cursor: pointer;
}

.show-temperature canvas {
  margin-right: -13px;
  margin-top: 5px;
  display: inline-block;
  line-height: 300px;
  vertical-align: top;
}
.show-temperature strong {
  font-size: 45px;
  line-height: 100px;
  font-weight: 700;
  color: #00175f;
  text-align: right;
  margin-bottom: 0;
}
.units {
  position: relative;
  font-size: 14px;
  top: -24px;
}

.weather-forecast {
  margin-top: -10px;
  text-align: center;
  padding: 10px auto;
  line-height: 20px;
}

.date-forecast {
  font-size: 16px;
  color: #00175f;
  opacity: 0.6;
}

.temperature-forecast {
  font-size: 13px;
  color: #00175f;
}
.temperature-forecast-min {
  opacity: 0.5;
}
